<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<properties resource="driver.properties">
		<!-- <property name="" value=""/> --> <!-- driver.properties 파일 내에 값이 없으면 이 프로퍼티로 대체된다 -->
	</properties>
	<environments default="dev">
		<environment id="dev">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="${driver}"/>
				<property name="url" value="${url}"/>
				<property name="username" value="${user}"/>
				<property name="password" value="${pw}"/>
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="/mappers/emp/emp-mapper.xml"/>
	</mappers>
</configuration>
